---
import Navbar from "../components/Navbar/Navbar";
import About from './about/About';
import '../style/style.scss';
---	

<script src="https://kit.fontawesome.com/4fd83527d4.js" crossOrigin="anonymous"></script>


<Navbar />


<main>
  <About client:idle/>
</main>
